@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p0snd7');
  src:  url('fonts/icomoon.eot?p0snd7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p0snd7') format('truetype'),
    url('fonts/icomoon.woff?p0snd7') format('woff'),
    url('fonts/icomoon.svg?p0snd7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



[class^="icon-"], [class*=" icon-"]  {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-huizhen:before {
	content: "\e600";
}
.icon-include:before {
	content: "\e601";
}
.icon-clock:before {
	content: "\e500";
}
.icon-calendar:before {
	content: "\e501";
}
.icon-dangan:before {
	content: "\e502";
}
.icon-discuz:before {
	content: "\e503";
}
.icon-doctorrecord:before {
	content: "\e504";
}
.icon-home:before {
	content: "\e505";
}
.icon-sublist:before {
	content: "\e506";
}
.icon-typeface:before {
	content: "\e507";
}
.icon-chairbig:before {
	content: "\e508";
}
.icon-chair:before {
	content: "\e509";
}
.icon-jiuyi:before {
	content: "\e50a";
}
.icon-camera:before {
	content: "\e50b";
}
.icon-other:before {
	content: "\e50c";
}
.icon-collect:before {
	content: "\e50d";
}
.icon-collecthollow:before {
	content: "\e50e";
}
.icon-write:before {
	content: "\e50f";
}
.icon-tips:before {
	content: "\e510";
}
.icon-favorite:before {
	content: "\e511";
}
.icon-favoritehollow:before {
	content: "\e512";
}
.icon-listmore:before {
	content: "\e513";
}
.icon-rightbig:before {
	content: "\e514";
}
.icon-share:before {
	content: "\e515";
}
.icon-sharehollow:before {
	content: "\e516";
}
.icon-right:before {
	content: "\e517";
}
.icon-discuzhollow:before {
	content: "\e518";
}
.icon-praise:before {
	content: "\e519";
}
.icon-praisehollow:before {
	content: "\e51a";
}
.icon-cancelbig:before {
	content: "\e51b";
}
.icon-cancel:before {
	content: "\e51c";
}
.icon-testbig:before {
	content: "\e63e";
}
.icon-leftrotation:before {
	content: "\e672";
}
.icon-rightrotation:before {
	content: "\e673";
}
.icon-joinbig:before {
	content: "\e674";
}
.icon-memberfilebig:before {
	content: "\e675";
}
.icon-sound:before {
	content: "\e676";
}
.icon-voice:before {
	content: "\e677";
}
.icon-bank:before {
	content: "\e617";
}
.icon-bloodpressure:before {
	content: "\e645";
}
.icon-parking:before {
	content: "\e646";
}
.icon-activity:before {
	content: "\e647";
}
.icon-park:before {
	content: "\e648";
}
.icon-all:before {
	content: "\e649";
}
.icon-clean:before {
	content: "\e64a";
}
.icon-bus:before {
	content: "\e62b";
}
.icon-shopmaster:before {
	content: "\e62a";
}
.icon-metro:before {
	content: "\e62c";
}
.icon-ATM:before {
	content: "\e644";
}
.icon-list:before {
	content: "\e635";
}
.icon-lancare:before {
	content: "\e636";
}
.icon-male:before {
	content: "\e637";
}
.icon-female:before {
	content: "\e638";
}
.icon-key:before {
	content: "\e639";
}
.icon-code:before {
	content: "\e63a";
}
.icon-lock:before {
	content: "\e63b";
}
.icon-exitbig:before {
	content: "\f600";
}
.icon-up:before {
	content: "\f601";
}
.icon-down:before {
	content: "\f602";
}
.icon-close:before {
	content: "\f603";
}
.icon-birthday:before {
	content: "\f604";
}
.icon-exit:before {
	content: "\f605";
}
.icon-switch:before {
	content: "\f606";
}
.icon-shop:before {
	content: "\f607";
}
.icon-famousdoctor:before {
	content: "\f608";
}
.icon-document:before {
	content: "\f609";
}
.icon-picture:before {
	content: "\f60a";
}
.icon-movie:before {
	content: "\f60b";
}
.icon-qq:before {
	content: "\f60c";
}
.icon-mobilephone:before {
	content: "\f60d";
}
.icon-documents:before {
	content: "\f60e";
}
.icon-lawyer:before {
	content: "\f60f";
}
.icon-file:before {
	content: "\f610";
}
.icon-information:before {
	content: "\f611";
}
.icon-phone:before {
	content: "\f612";
}
.icon-files:before {
	content: "\f613";
}
.icon-email:before {
	content: "\f614";
}
.icon-kind:before {
	content: "\f615";
}
.icon-pointbig:before {
	content: "\f616";
}
.icon-doctor:before {
	content: "\f617";
}
.icon-medicalcare:before {
	content: "\f618";
}
.icon-rightarrow:before {
	content: "\f619";
}
.icon-front3:before {
	content: "\f61a";
}
.icon-back3:before {
	content: "\f61b";
}
.icon-front:before {
	content: "\f61c";
}
.icon-back:before {
	content: "\f61d";
}
.icon-menu:before {
	content: "\f61e";
}
.icon-leftarrow:before {
	content: "\f61f";
}
.icon-card:before {
	content: "\f620";
}
.icon-search:before {
	content: "\f621";
}
.icon-tijian:before {
	content: "\f622";
}
.icon-clinic:before {
	content: "\f623";
}
.icon-consult:before {
	content: "\f624";
}
.icon-depict:before {
	content: "\f625";
}
.icon-control:before {
	content: "\f626";
}
.icon-membermoney:before {
	content: "\f627";
}
.icon-enter:before {
	content: "\f628";
}
.icon-public:before {
	content: "\f629";
}
.icon-fixs:before {
	content: "\f62a";
}
.icon-uploading:before {
	content: "\f62b";
}
.icon-downloading:before {
	content: "\f62c";
}
.icon-service:before {
	content: "\f62d";
}
.icon-system:before {
	content: "\f62e";
}
.icon-orderform:before {
	content: "\f62f";
}
.icon-location:before {
	content: "\f630";
}
.icon-member:before {
	content: "\f631";
}
.icon-orderformbig:before {
	content: "\f632";
}
.icon-familydoctorbig:before {
	content: "\f633";
}
.icon-famousdoctorbig:before {
	content: "\f634";
}
.icon-pressurebig:before {
	content: "\f635";
}
.icon-glucosebig:before {
	content: "\f636";
}
.icon-familydoctor:before {
	content: "\f637";
}
.icon-medicalcarebig:before {
	content: "\f638";
}
.icon-phonebig:before {
	content: "\f639";
}
.icon-consultbig:before {
	content: "\f63a";
}
.icon-membermoneybig:before {
	content: "\f63b";
}
.icon-greenfoodbig:before {
	content: "\f63c";
}
.icon-informationsbig:before {
	content: "\f63d";
}
.icon-cardbig:before {
	content: "\f63e";
}
.icon-enterbig:before {
	content: "\f63f";
}
.icon-lawbig:before {
	content: "\f640";
}
.icon-articlebig:before {
	content: "\f641";
}
.icon-informationbig:before {
	content: "\f642";
}
.icon-measurebig:before {
	content: "\f643";
}
.icon-emailbig:before {
	content: "\f644";
}
.icon-examinationbig:before {
	content: "\f645";
}
.icon-documentbig:before {
	content: "\f646";
}
.icon-clinicbig:before {
	content: "\f647";
}
.icon-moneybig:before {
	content: "\f648";
}
.icon-controlbig:before {
	content: "\f649";
}
.icon-downloadingbig:before {
	content: "\f64a";
}
.icon-transferbig:before {
	content: "\f64b";
}
.icon-cosmeticbig:before {
	content: "\f64c";
}
.icon-keybig:before {
	content: "\f64d";
}
.icon-lanolinbig:before {
	content: "\f64e";
}
.icon-servicebig:before {
	content: "\f64f";
}
.icon-uploadingbig:before {
	content: "\f650";
}
.icon-memberbig:before {
	content: "\f651";
}
.icon-milkpowderbig:before {
	content: "\f652";
}
.icon-nutritionbig:before {
	content: "\f653";
}
.icon-codebig:before {
	content: "\f654";
}
.icon-mobliephonebig:before {
	content: "\f655";
}
.icon-lockbig:before {
	content: "\f656";
}
.icon-filesbig:before {
	content: "\f657";
}
.icon-shopbig:before {
	content: "\f658";
}
.icon-research:before {
	content: "\e900";
}
.icon-functional:before {
	content: "\e901";
}
.icon-qrcode:before {
	content: "\e902";
}
.icon-onlinesigning:before {
	content: "\e903";
}
.icon-diagnosisbig:before {
	content: "\e904";
}
.icon-diagnosis:before {
	content: "\e90a";
}
.icon-droplet:before {
	content: "\e90b";
}
.icon-consultdoctor:before {
	content: "\e90c";
}
.icon-consult-doctor2:before {
	content: "\e90d";
}
.icon-images:before {
	content: "\e90e";
}
.icon-qrcode2:before {
	content: "\e915";
}
.icon-team:before {
	content: "\e916";
}
.icon-medicanbig:before {
	content: "\e918";
}
.icon-medican:before {
	content: "\e91a";
}
.icon-consultdoctorbig:before {
	content: "\e91c";
}
.icon-consultdoctorbig2:before {
	content: "\e91d";
}
.icon-aid-kit:before {
	content: "\e99c";
}
.icon-pie-chart:before {
	content: "\e99a";
}
.icon-stats-dots:before {
	content: "\e99f";
}
.icon-stats-bars:before {
	content: "\e99e";
}
.icon-download2:before {
	content: "\e9c5";
}
.icon-upload2:before {
	content: "\e9c6";
}
.icon-sphere:before {
	content: "\e9c9";
}
.icon-updatefilesbig:before {
	content: "\e9db";
}
.icon-updatefiles:before {
	content: "\e9de";
}
.icon-enter2:before {
	content: "\ea13";
}
.icon-volume-medium:before {
	content: "\ea27";
}
.icon-paibanbig:before {
	content: "\ea31";
}
.icon-paiban:before {
	content: "\ea32";
}
.icon-huizhencamera:before {
	content: "\edca";
}
.icon-zhuye:before {
	content: "\edcb";
}
.icon-shanchang:before {
	content: "\edcc";
}
.icon-shipin:before {
	content: "\edcd";
}
.icon-wenzhang:before {
	content: "\edce";
}
.icon-patient-counseling2:before {
	content: "\ef2d";
}
.icon-patient-medical-guide2:before {
	content: "\eef5";
}
.icon-cancer-hopspital2 .path1:before {
	content: "\eef6";
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path2:before {
	content: "\eef7";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path3:before {
	content: "\eef8";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path4:before {
	content: "\eef9";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path5:before {
	content: "\eefa";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path6:before {
	content: "\eefb";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path7:before {
	content: "\eefc";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path8:before {
	content: "\eefd";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path9:before {
	content: "\eefe";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path10:before {
	content: "\eeff";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path11:before {
	content: "\ef00";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path12:before {
	content: "\ef01";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path13:before {
	content: "\ef02";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path14:before {
	content: "\ef03";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path15:before {
	content: "\ef04";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path16:before {
	content: "\ef05";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path17:before {
	content: "\ef06";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path18:before {
	content: "\ef07";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path19:before {
	content: "\ef08";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path20:before {
	content: "\ef09";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path21:before {
	content: "\ef0a";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path22:before {
	content: "\ef0b";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path23:before {
	content: "\ef0c";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path24:before {
	content: "\ef0d";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path25:before {
	content: "\ef0e";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path26:before {
	content: "\ef0f";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path27:before {
	content: "\ef10";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path28:before {
	content: "\ef11";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path29:before {
	content: "\ef12";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path30:before {
	content: "\ef13";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path31:before {
	content: "\ef14";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path32:before {
	content: "\ef15";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path33:before {
	content: "\ef16";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path34:before {
	content: "\ef17";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path35:before {
	content: "\ef18";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path36:before {
	content: "\ef19";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path37:before {
	content: "\ef1a";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path38:before {
	content: "\ef1b";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path39:before {
	content: "\ef1c";
	margin-left: -3.0712890625em;
	color: rgb(0, 0, 0);
}
.icon-cancer-hopspital2 .path40:before {
	content: "\ef1d";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path41:before {
	content: "\ef1e";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path42:before {
	content: "\ef1f";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path43:before {
	content: "\ef20";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path44:before {
	content: "\ef21";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path45:before {
	content: "\ef22";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path46:before {
	content: "\ef23";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path47:before {
	content: "\ef24";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path48:before {
	content: "\ef25";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path49:before {
	content: "\ef26";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path50:before {
	content: "\ef27";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path51:before {
	content: "\ef28";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path52:before {
	content: "\ef29";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-cancer-hopspital2 .path53:before {
	content: "\ef2a";
	margin-left: -3.0712890625em;
	color: rgb(59, 174, 231);
}
.icon-an-appointment2:before {
	content: "\ef2b";
}
.icon-departments-list2:before {
	content: "\ef2c";
}
.icon-hospital-introduction2:before {
	content: "\eef4";
}
.icon-medical-guide2:before {
	content: "\ea9a";
}
.icon-twitch:before {
	content: "\ea9b";
}
.icon-svg:before {
	content: "\eae3";
}
.icon-star:before {
  content: "\e98c";
}
.icon-video:before {
  content: "\e98d";
}
.icon-lung .path1:before {
	content: "\e905";
	color: rgb(0, 0, 0);
}
.icon-lung .path2:before {
	content: "\e906";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-lung .path3:before {
	content: "\e907";
	margin-left: -1em;
	color: rgb(63, 139, 213);
}
.icon-lung .path4:before {
	content: "\e908";
	margin-left: -1em;
	color: rgb(63, 139, 213);
}
.icon-lung .path5:before {
	content: "\e909";
	margin-left: -1em;
	color: rgb(63, 139, 213);
}
.icon-hearthurt .path1:before {
	content: "\e90f";
	color: rgb(25, 132, 231);
}
.icon-hearthurt .path2:before {
	content: "\e910";
	margin-left: -1em;
	color: rgb(25, 132, 231);
}
.icon-hearthurt .path3:before {
	content: "\e911";
	margin-left: -1em;
	color: rgb(25, 132, 231);
}
.icon-hearthurt .path4:before {
	content: "\e912";
	margin-left: -1em;
	color: rgb(25, 132, 231);
}
.icon-hearthurt .path5:before {
	content: "\e913";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-hearthurt .path6:before {
	content: "\e914";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-hearthurt .path7:before {
	content: "\e947";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-recovery:before {
	content: "\e917";
}
.icon-leftarrow2:before {
	content: "\e919";
}
.icon-rightarrow2:before {
	content: "\e91b";
}
.icon-leftarrow3:before {
	content: "\e91e";
}
.icon-rightarrow3:before {
	content: "\e91f";
}
.icon-members3:before {
	content: "\e920";
}
.icon-runactivity .path1:before {
	content: "\e921";
	color: rgb(25, 132, 231);
}
.icon-runactivity .path2:before {
	content: "\e922";
	margin-left: -1em;
	color: rgb(25, 132, 231);
}
.icon-runactivity .path3:before {
	content: "\e923";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-runactivity .path4:before {
	content: "\e924";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-runactivity .path5:before {
	content: "\e925";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-members2:before {
	content: "\e926";
}
.icon-research2:before {
	content: "\e927";
}
.icon-heartrealpurity:before {
	content: "\e928";
}
.icon-lungpurity:before {
	content: "\e929";
}
.icon-runpurity:before {
	content: "\e92a";
}
.icon-cirlcearrowdown2:before {
	content: "\e92b";
}
.icon-cirlcearrowdown:before {
	content: "\e92c";
}
.icon-camera1:before {
	content: "\e92e";
}
.icon-camera2:before {
	content: "\e92f";
}
.icon-location2:before {
	content: "\e97c";
}
.icon-mail:before {
  content: "\e9df";
}
.icon-photo:before {
  content: "\e9e0";
}
.icon-lefttrac2:before {
  content: "\e9eb";
}
.icon-righttrac2:before {
  content: "\e9ec";
}

.icon-downtrac2:before {
	content: "\e98e";
}
.icon-uptrac2:before {
	content: "\e98f";
}
.icon-orthopedic:before {
	content: "\e949";
}
.icon-paediatrics:before {
	content: "\e94a";
}
.icon-radiology:before {
	content: "\e94b";
}
.icon-healths-files-squre:before {
	content: "\e9c3";
}
.icon-inhabitant-files-squre:before {
	content: "\e9c4";
}
.icon-guidang-squre:before {
	content: "\e9c7";
}
.icon-pressureblood-squre:before {
	content: "\e9c8";
}
.icon-visit-squre:before {
	content: "\e9ca";
}
.icon-emergency-squre:before {
	content: "\e9cb";
}
.icon-Surgery-nive:before {
	content: "\e9cc";
}
.icon-icon-dropcloseslim:before {
  content: "\e9e1";
}
.icon-icon-dropdownslim:before {
  content: "\e9e2";
}
.icon-icon-envelopeslim:before {
  content: "\e9e3";
}
.icon-icon-integral:before {
  content: "\e9e5";
}
.icon-icon-integral-circle:before {
  content: "\e9e6";
}
.icon-icon-scanslim:before {
  content: "\e9e7";
}
.icon-kaiyao:before {
	content: "\e9cd";
}
.icon-kaiyaoshengqing:before {
	content: "\e9ce";
}
.icon-storage:before {
	content: "\e9aa";
}
.icon-baby-circle:before {
	content: "\e9ad";
}
.icon-payfor:before {
	content: "\e9ae";
}
.icon-payfor-cirle:before {
	content: "\e9af";
}
.icon-text-c:before {
	content: "\e9b0";
}
.icon-up-records:before {
	content: "\e9b1";
}
.icon-up-records-cirle:before {
	content: "\e9b2";
}
.icon-weixin:before {
	content: "\e9b3";
}
.icon-yuyue-cirle:before {
	content: "\e9b4";
}
.icon-consult-cirle:before {
	content: "\e9b5";
}
.icon-group-sq:before {
	content: "\e9b6";
}
.icon-weixin-sq:before {
	content: "\e9b7";
}
.icon-virtual:before {
	content: "\e9b8";
}
.icon-virtual-cirle:before {
	content: "\e9b9";
}
.icon-digital:before {
	content: "\e9ba";
}
.icon-digital-cirle:before {
	content: "\e9bb";
}
.icon-right7:before {
	content: "\e9bc";
}
.icon-storage2:before {
	content: "\e9bd";
}
.icon-department7:before {
	content: "\e9be";
}
.icon-department7-cirle:before {
	content: "\e9bf";
}
.icon-seacrh7:before {
	content: "\e9c0";
}
.icon-file9:before {
	content: "\e9c2";
}
.icon-dr9:before {
	content: "\e9c1";
}
.icon-clinic-cirle:before {
	content: "\e9ab";
}
.icon-text-cirle:before {
	content: "\e9ac";
}
.icon-transfer-accounts:before {
	content: "\e948";
}
.icon-arrowleftnew:before {
	content: "\e933";
}
.icon-arrowrightnew:before {
	content: "\e97e";
}
.icon-deletenew:before {
	content: "\e97f";
}
.icon-docnew:before {
	content: "\e980";
}
.icon-download2new:before {
	content: "\e981";
}
.icon-upload2new:before {
	content: "\e982";
}
.icon-downloadnew:before {
	content: "\e983";
}
.icon-homenew:before {
	content: "\e984";
}
.icon-loginnew:before {
	content: "\e985";
}
.icon-modify2new:before {
	content: "\e986";
}
.icon-modifynew:before {
	content: "\e987";
}
.icon-quitnew:before {
	content: "\e988";
}
.icon-refleshnew:before {
	content: "\e989";
}
.icon-searchnew:before {
	content: "\e98a";
}
.icon-sharenew:before {
	content: "\e97d";
}
.icon-me8:before {
	content: "\e92d";
}
.icon-shopcar8:before {
	content: "\e930";
}
.icon-orderform8:before {
	content: "\e931";
}
.icon-familydoctorserivicebig:before {
	content: "\e932";
}
.icon-familydoctorserivice:before {
	content: "\e98b";
}
.icon-data:before {
	content: "\e93b";
}
.icon-paiming:before {
	content: "\e936";
}
.icon-shujumingxi:before {
	content: "\e937";
}
.icon-tangniaobingzhidao:before {
	content: "\e938";
}
.icon-tangniaobingzhidaobig:before {
	content: "\e939";
}
.icon-data2:before {
	content: "\e93a";
}
.icon-business-applicationbig:before {
	content: "\e934";
}
.icon-dr-team-service:before {
	content: "\e935";
}
.icon-dr-team-servicebig:before {
	content: "\e93c";
}
.icon-obstetrics:before {
	content: "\e93d";
}
.icon-leftarrowslim:before {
	content: "\e93e";
}
.icon-rightarrowslim:before {
	content: "\e946";
}
.icon-Five-Sense-Organs:before {
	content: "\e93f";
}
.icon-ddf:before {
	content: "\e940";
}
.icon-ddfbig:before {
	content: "\e941";
}
.icon-official-seal:before {
	content: "\e942";
}
.icon-consult-slim:before {
	content: "\e943";
}
.icon-compass-slim:before {
	content: "\e944";
}
.icon-closeslim-cirlce:before {
	content: "\e945";
}
.icon-bussiness-slim:before {
	content: "\e960";
}
.icon-bussiness-slim-big:before {
	content: "\e961";
}
.icon-closeslim-cirlce2:before {
	content: "\e962";
}
.icon-hospital-introduce-slim:before {
	content: "\e997";
}
.icon-appointment-register:before {
	content: "\e998";
}
.icon-good-slim:before {
	content: "\e999";
}
.icon-compass-small-slim:before {
	content: "\e9a0";
}
.icon-consults-slim-duble:before {
	content: "\e99b";
}
.icon-icon-dr-tech:before {
	content: "\e94c";
}
.icon-userslim:before {
	content: "\e94d";
}
.icon-lockslim:before {
	content: "\e94e";
}
.icon-healths-education:before {
	content: "\e94f";
}
.icon-healths-educationbig:before {
	content: "\e950";
}
.icon-arrowleftslim:before {
	content: "\e951";
}
.icon-arrowrightslim:before {
	content: "\e952";
}
.icon-third-hospital:before {
	content: "\e953";
}
.icon-fish .path1:before {
	content: "\e954";
	color: rgb(255, 51, 0);
}
.icon-fish .path2:before {
	content: "\e969";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-fish .path3:before {
	content: "\e96a";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-fish .path4:before {
	content: "\e96b";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-fish .path5:before {
	content: "\e96c";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-fish .path6:before {
	content: "\e96d";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-monkey .path1:before {
	content: "\e955";
	color: rgb(255, 51, 0);
}
.icon-monkey .path2:before {
	content: "\e956";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-monkey .path3:before {
	content: "\e957";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-monkey .path4:before {
	content: "\e958";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-monkey .path5:before {
	content: "\e959";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-monkey .path6:before {
	content: "\e95a";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-monkey .path7:before {
	content: "\e95b";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path1:before {
	content: "\e95c";
	color: rgb(255, 51, 0);
}
.icon-redmoney .path2:before {
	content: "\e95d";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-redmoney .path3:before {
	content: "\e95e";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path4:before {
	content: "\e95f";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path5:before {
	content: "\e963";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path6:before {
	content: "\e964";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path7:before {
	content: "\e965";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path8:before {
	content: "\e966";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-redmoney .path9:before {
	content: "\e967";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-lantern .path1:before {
	content: "\e968";
	color: rgb(255, 51, 0);
}
.icon-lantern .path2:before {
	content: "\e96e";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-lantern .path3:before {
	content: "\e96f";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-lantern .path4:before {
	content: "\e970";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-lantern .path5:before {
	content: "\e971";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-lantern .path6:before {
	content: "\e972";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-lantern .path7:before {
	content: "\e973";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-firecrackers .path1:before {
	content: "\e974";
	color: rgb(255, 51, 0);
}
.icon-firecrackers .path2:before {
	content: "\e975";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-firecrackers .path3:before {
	content: "\e976";
	margin-left: -1em;
	color: rgb(255, 242, 0);
}
.icon-firecrackers .path4:before {
	content: "\e977";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-firecrackers .path5:before {
	content: "\e978";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-firecrackers .path6:before {
	content: "\e979";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-firecrackers .path7:before {
	content: "\e97a";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-firecrackers .path8:before {
	content: "\e97b";
	margin-left: -1em;
	color: rgb(255, 51, 0);
}
.icon-doctor5:before {
	content: "\e990";
}
.icon-heart5:before {
	content: "\e991";
}
.icon-list5:before {
	content: "\e992";
}
.icon-member5:before {
	content: "\e993";
}
.icon-v-big:before {
	content: "\e994";
}
.icon-v:before {
	content: "\e995";
}
.icon-arrowleft-circle:before {
	content: "\e996";
}
.icon-workship5:before {
	content: "\e9a1";
}
.icon-leftarrow5:before {
	content: "\e9a2";
}
.icon-rightarrow5:before {
	content: "\e9a3";
}
.icon-member52:before {
	content: "\e9a4";
}
.icon-more5:before {
	content: "\e9a5";
}
.icon-star5:before {
	content: "\e9a6";
}
.icon-zan5:before {
	content: "\e9a7";
}
.icon-cai5:before {
	content: "\e9a8";
}
.icon-hospital5:before {
	content: "\e9a9";
}
.icon-world:before {
	content: "\e99d";
}
.icon-bloodtest:before {
	content: "\e9cf";
}
.icon-drawblood:before {
	content: "\e9d0";
}
.icon-Familydoctorbilling:before {
	content: "\e9d1";
}
.icon-Familydoctorconfirmation:before {
	content: "\e9d2";
}
.icon-hospitalsqure:before {
	content: "\e9d3";
}
.icon-lancare2squre:before {
	content: "\e9d4";
}
.icon-Memberevaluation:before {
	content: "\e9d5";
}
.icon-MembershipApplication:before {
	content: "\e9d6";
}
.icon-Membershippayment:before {
	content: "\e9d7";
}
.icon-Offlineservice:before {
	content: "\e9d8";
}
.icon-Stafforders:before {
	content: "\e9d9";
}
.icon-testresult:before {
	content: "\e9da";
}
.icon-arrow5:before {
	content: "\e9dc";
}
.icon-arrow6:before {
	content: "\e9dd";
}
.icon-hint:before {
  content: "\e9e4";
}
.icon-quiz:before {
  content: "\e9e8";
}


.icon-aged:before {
  content: "\e9e9";
}
.icon-arteriosclerosis:before {
  content: "\e9ea";
}
.icon-body-composition:before {
  content: "\e9ed";
}
.icon-body-fat:before {
  content: "\e9ee";
}
.icon-bone-density:before {
  content: "\e9ef";
}
.icon-cardiovascular:before {
  content: "\e9f0";
}
.icon-height-weight:before {
  content: "\e9f1";
}
.icon-lung2:before {
  content: "\e9f2";
}
.icon-psychological-counseling:before {
  content: "\e9f3";
}
.icon-TCM-constitution:before {
  content: "\e9f4";
}
.icon-vision:before {
  content: "\e9f5";
}
.icon-waist:before {
  content: "\e9f6";
}
.icon-blood-fat:before {
  content: "\e9f7";
}

.icon-consultation:before {
  content: "\e9f8";
}
.icon-greenchanel:before {
  content: "\e9f9";
}
.icon-pg:before {
  content: "\e9fa";
}
.icon-transferclinic3:before {
  content: "\e9fb";
}
.icon-thirdtest:before {
  content: "\e9fc";
}


@font-face {
	font-family: "xzl-font";
	src: url('fonts/xzl-font.eot?t=1481617377825');
	/* IE9*/
	src: url('fonts/xzl-font.eot?t=1481617377825#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/xzl-font.woff?t=1481617377825') format('woff'), /* chrome, firefox */
	url('fonts/xzl-font.ttf?t=1481617377825') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('fonts/xzl-font.svg?t=1481617377825#iconfont') format('svg');
	/* iOS 4.1- */
}
.xzlicon-font {
	font-family: "xzl-font" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.xzliconz-arrowright:before { content: "\e817"; }

.xzliconz-appreciate:before { content: "\e644"; }

.xzliconz-check:before { content: "\e645"; }

.xzliconz-close:before { content: "\e646"; }

.xzliconz-edit:before { content: "\e649"; }

.xzliconz-emoji:before { content: "\e64a"; }

.xzliconz-favorfill:before { content: "\e64b"; }

.xzliconz-favor:before { content: "\e64c"; }

.xzliconz-loading:before { content: "\e64f"; }

.xzliconz-locationfill:before { content: "\e650"; }

.xzliconz-location:before { content: "\e651"; }

.xzliconz-phone:before { content: "\e652"; }

.xzliconz-roundcheckfill:before { content: "\e656"; }

.xzliconz-roundcheck:before { content: "\e657"; }

.xzliconz-roundclosefill:before { content: "\e658"; }

.xzliconz-roundclose:before { content: "\e659"; }

.xzliconz-roundrightfill:before { content: "\e65a"; }

.xzliconz-roundright:before { content: "\e65b"; }

.xzliconz-search:before { content: "\e65c"; }

.xzliconz-taxi:before { content: "\e65d"; }

.xzliconz-timefill:before { content: "\e65e"; }

.xzliconz-time:before { content: "\e65f"; }

.xzliconz-unfold:before { content: "\e661"; }

.xzliconz-warnfill:before { content: "\e662"; }

.xzliconz-warn:before { content: "\e663"; }

.xzliconz-camerafill:before { content: "\e664"; }

.xzliconz-camera:before { content: "\e665"; }

.xzliconz-commentfill:before { content: "\e666"; }

.xzliconz-comment:before { content: "\e667"; }

.xzliconz-likefill:before { content: "\e668"; }

.xzliconz-like:before { content: "\e669"; }

.xzliconz-notificationfill:before { content: "\e66a"; }

.xzliconz-notification:before { content: "\e66b"; }

.xzliconz-order:before { content: "\e66c"; }

.xzliconz-samefill:before { content: "\e66d"; }

.xzliconz-same:before { content: "\e66e"; }

.xzliconz-deliver:before { content: "\e671"; }

.xzliconz-evaluate:before { content: "\e672"; }

.xzliconz-pay:before { content: "\e673"; }

.xzliconz-send:before { content: "\e675"; }

.xzliconz-shop:before { content: "\e676"; }

.xzliconz-ticket:before { content: "\e677"; }

.xzliconz-wang:before { content: "\e678"; }

.xzliconz-back:before { content: "\e679"; }

.xzliconz-cascades:before { content: "\e67c"; }

.xzliconz-discover:before { content: "\e67e"; }

.xzliconz-list:before { content: "\e682"; }

.xzliconz-more:before { content: "\e684"; }

.xzliconz-scan:before { content: "\e689"; }

.xzliconz-settings:before { content: "\e68a"; }

.xzliconz-questionfill:before { content: "\e690"; }

.xzliconz-question:before { content: "\e691"; }

.xzliconz-shopfill:before { content: "\e697"; }

.xzliconz-form:before { content: "\e699"; }

.xzliconz-wangfill:before { content: "\e69a"; }

.xzliconz-pic:before { content: "\e69b"; }

.xzliconz-filter:before { content: "\e69c"; }

.xzliconz-footprint:before { content: "\e69d"; }

.xzliconz-top:before { content: "\e69e"; }

.xzliconz-pulldown:before { content: "\e69f"; }

.xzliconz-pullup:before { content: "\e6a0"; }

.xzliconz-right:before { content: "\e6a3"; }

.xzliconz-refresh:before { content: "\e6a4"; }

.xzliconz-moreandroid:before { content: "\e6a5"; }

.xzliconz-deletefill:before { content: "\e6a6"; }

.xzliconz-refund:before { content: "\e6ac"; }

.xzliconz-cart:before { content: "\e6af"; }

.xzliconz-qrcode:before { content: "\e6b0"; }

.xzliconz-remind:before { content: "\e6b2"; }

.xzliconz-delete:before { content: "\e6b4"; }

.xzliconz-profile:before { content: "\e6b7"; }

.xzliconz-home:before { content: "\e6b8"; }

.xzliconz-cartfill:before { content: "\e6b9"; }

.xzliconz-discoverfill:before { content: "\e6ba"; }

.xzliconz-homefill:before { content: "\e6bb"; }

.xzliconz-message:before { content: "\e6bc"; }

.xzliconz-addressbook:before { content: "\e6bd"; }

.xzliconz-link:before { content: "\e6bf"; }

.xzliconz-lock:before { content: "\e6c0"; }

.xzliconz-unlock:before { content: "\e6c2"; }

.xzliconz-vip:before { content: "\e6c3"; }

.xzliconz-weibo:before { content: "\e6c4"; }

.xzliconz-activity:before { content: "\e6c5"; }

.xzliconz-big:before { content: "\e6c7"; }

.xzliconz-friendaddfill:before { content: "\e6c9"; }

.xzliconz-friendadd:before { content: "\e6ca"; }

.xzliconz-friendfamous:before { content: "\e6cb"; }

.xzliconz-friend:before { content: "\e6cc"; }

.xzliconz-goods:before { content: "\e6cd"; }

.xzliconz-selection:before { content: "\e6ce"; }

.xzliconz-tmall:before { content: "\e6cf"; }

.xzliconz-explore:before { content: "\e6d2"; }

.xzliconz-present:before { content: "\e6d3"; }

.xzliconz-squarecheckfill:before { content: "\e6d4"; }

.xzliconz-square:before { content: "\e6d5"; }

.xzliconz-squarecheck:before { content: "\e6d6"; }

.xzliconz-round:before { content: "\e6d7"; }

.xzliconz-roundaddfill:before { content: "\e6d8"; }

.xzliconz-roundadd:before { content: "\e6d9"; }

.xzliconz-add:before { content: "\e6da"; }

.xzliconz-notificationforbidfill:before { content: "\e6db"; }

.xzliconz-explorefill:before { content: "\e6dd"; }

.xzliconz-fold:before { content: "\e6de"; }

.xzliconz-game:before { content: "\e6df"; }

.xzliconz-redpacket:before { content: "\e6e0"; }

.xzliconz-selectionfill:before { content: "\e6e1"; }

.xzliconz-similar:before { content: "\e6e2"; }

.xzliconz-appreciatefill:before { content: "\e6e3"; }

.xzliconz-infofill:before { content: "\e6e4"; }

.xzliconz-info:before { content: "\e6e5"; }

.xzliconz-forwardfill:before { content: "\e6ea"; }

.xzliconz-forward:before { content: "\e6eb"; }

.xzliconz-rechargefill:before { content: "\e6ec"; }

.xzliconz-recharge:before { content: "\e6ed"; }

.xzliconz-vipcard:before { content: "\e6ee"; }

.xzliconz-voice:before { content: "\e6ef"; }

.xzliconz-voicefill:before { content: "\e6f0"; }

.xzliconz-friendfavor:before { content: "\e6f1"; }

.xzliconz-wifi:before { content: "\e6f2"; }

.xzliconz-share:before { content: "\e6f3"; }

.xzliconz-wefill:before { content: "\e6f4"; }

.xzliconz-we:before { content: "\e6f5"; }

.xzliconz-lightauto:before { content: "\e6f6"; }

.xzliconz-lightforbid:before { content: "\e6f7"; }

.xzliconz-lightfill:before { content: "\e6f8"; }

.xzliconz-camerarotate:before { content: "\e6f9"; }

.xzliconz-light:before { content: "\e6fa"; }

.xzliconz-barcode:before { content: "\e6fb"; }

.xzliconz-flashlightclose:before { content: "\e6fc"; }

.xzliconz-flashlightopen:before { content: "\e6fd"; }

.xzliconz-searchlist:before { content: "\e6fe"; }

.xzliconz-service:before { content: "\e6ff"; }

.xzliconz-sort:before { content: "\e700"; }

.xzliconz-down:before { content: "\e703"; }

.xzliconz-mobile:before { content: "\e704"; }

.xzliconz-mobilefill:before { content: "\e705"; }

.xzliconz-copy:before { content: "\e706"; }

.xzliconz-countdownfill:before { content: "\e707"; }

.xzliconz-countdown:before { content: "\e708"; }

.xzliconz-noticefill:before { content: "\e709"; }

.xzliconz-notice:before { content: "\e70a"; }

.xzliconz-upstagefill:before { content: "\e70e"; }

.xzliconz-upstage:before { content: "\e70f"; }

.xzliconz-babyfill:before { content: "\e710"; }

.xzliconz-baby:before { content: "\e711"; }

.xzliconz-choicenessfill:before { content: "\e714"; }

.xzliconz-choiceness:before { content: "\e715"; }

.xzliconz-clothesfill:before { content: "\e716"; }

.xzliconz-clothes:before { content: "\e717"; }

.xzliconz-creativefill:before { content: "\e718"; }

.xzliconz-creative:before { content: "\e719"; }

.xzliconz-female:before { content: "\e71a"; }

.xzliconz-keyboard:before { content: "\e71b"; }

.xzliconz-male:before { content: "\e71c"; }

.xzliconz-newfill:before { content: "\e71d"; }

.xzliconz-new:before { content: "\e71e"; }

.xzliconz-pullleft:before { content: "\e71f"; }

.xzliconz-pullright:before { content: "\e720"; }

.xzliconz-rankfill:before { content: "\e721"; }

.xzliconz-rank:before { content: "\e722"; }

.xzliconz-bad:before { content: "\e723"; }

.xzliconz-cameraadd:before { content: "\e724"; }

.xzliconz-focus:before { content: "\e725"; }

.xzliconz-friendfill:before { content: "\e726"; }

.xzliconz-cameraaddfill:before { content: "\e727"; }

.xzliconz-apps:before { content: "\e729"; }

.xzliconz-paintfill:before { content: "\e72a"; }

.xzliconz-paint:before { content: "\e72b"; }

.xzliconz-picfill:before { content: "\e72c"; }

.xzliconz-refresharrow:before { content: "\e72d"; }

.xzliconz-markfill:before { content: "\e730"; }

.xzliconz-mark:before { content: "\e731"; }

.xzliconz-presentfill:before { content: "\e732"; }

.xzliconz-repeal:before { content: "\e733"; }

.xzliconz-album:before { content: "\e734"; }

.xzliconz-peoplefill:before { content: "\e735"; }

.xzliconz-people:before { content: "\e736"; }

.xzliconz-servicefill:before { content: "\e737"; }

.xzliconz-repair:before { content: "\e738"; }

.xzliconz-file:before { content: "\e739"; }

.xzliconz-repairfill:before { content: "\e73a"; }

.xzliconz-taoxiaopu:before { content: "\e73b"; }

.xzliconz-attentionfill:before { content: "\e73c"; }

.xzliconz-attention:before { content: "\e73d"; }

.xzliconz-commandfill:before { content: "\e73e"; }

.xzliconz-command:before { content: "\e73f"; }

.xzliconz-communityfill:before { content: "\e740"; }

.xzliconz-community:before { content: "\e741"; }

.xzliconz-read:before { content: "\e742"; }

.xzliconz-calendar:before { content: "\e74a"; }

.xzliconz-cut:before { content: "\e74b"; }

.xzliconz-magic:before { content: "\e74c"; }

.xzliconz-backwardfill:before { content: "\e74d"; }

.xzliconz-forwardfill1:before { content: "\e74e"; }

.xzliconz-playfill:before { content: "\e74f"; }

.xzliconz-stop:before { content: "\e750"; }

.xzliconz-tagfill:before { content: "\e751"; }

.xzliconz-tag:before { content: "\e752"; }

.xzliconz-group:before { content: "\e753"; }

.xzliconz-all:before { content: "\e755"; }

.xzliconz-backdelete:before { content: "\e756"; }

.xzliconz-hotfill:before { content: "\e757"; }

.xzliconz-hot:before { content: "\e758"; }

.xzliconz-post:before { content: "\e759"; }

.xzliconz-radiobox:before { content: "\e75b"; }

.xzliconz-rounddown:before { content: "\e75c"; }

.xzliconz-upload:before { content: "\e75d"; }

.xzliconz-writefill:before { content: "\e760"; }

.xzliconz-write:before { content: "\e761"; }

.xzliconz-radioboxfill:before { content: "\e763"; }

.xzliconz-punch:before { content: "\e764"; }

.xzliconz-shake:before { content: "\e765"; }

.xzliconz-add1:before { content: "\e767"; }

.xzliconz-move:before { content: "\e768"; }

.xzliconz-safe:before { content: "\e769"; }

.xzliconz-ye:before { content: "\e770"; }

.xzliconz-activityfill:before { content: "\e775"; }

.xzliconz-crownfill:before { content: "\e776"; }

.xzliconz-crown:before { content: "\e777"; }

.xzliconz-goodsfill:before { content: "\e778"; }

.xzliconz-messagefill:before { content: "\e779"; }

.xzliconz-profilefill:before { content: "\e77a"; }

.xzliconz-sound:before { content: "\e77b"; }

.xzliconz-sponsorfill:before { content: "\e77c"; }

.xzliconz-sponsor:before { content: "\e77d"; }

.xzliconz-upblock:before { content: "\e77e"; }

.xzliconz-weblock:before { content: "\e77f"; }

.xzliconz-weunblock:before { content: "\e780"; }

.xzliconz-my:before { content: "\e78b"; }

.xzliconz-myfill:before { content: "\e78c"; }

.xzliconz-emojifill:before { content: "\e78d"; }

.xzliconz-emojiflashfill:before { content: "\e78e"; }

.xzliconz-flashbuyfill-copy:before { content: "\e78f"; }

.xzliconz-text:before { content: "\e791"; }

.xzliconz-goodsfavor:before { content: "\e794"; }

.xzliconz-musicfill:before { content: "\e795"; }

.xzliconz-musicforbidfill:before { content: "\e796"; }

.xzliconz-roundleftfill:before { content: "\e799"; }

.xzliconz-triangledownfill:before { content: "\e79b"; }

.xzliconz-triangleupfill:before { content: "\e79c"; }

.xzliconz-roundleftfill-copy:before { content: "\e79e"; }

.xzliconz-pulldown1:before { content: "\e79f"; }

.xzliconz-appreciatelight:before { content: "\e7a0"; }

.xzliconz-emojilight:before { content: "\e7a1"; }

.xzliconz-goodslight:before { content: "\e7a2"; }

.xzliconz-keyboardlight:before { content: "\e7a3"; }

.xzliconz-recordfill:before { content: "\e7a4"; }

.xzliconz-recordlight:before { content: "\e7a5"; }

.xzliconz-record:before { content: "\e7a6"; }

.xzliconz-roundaddlight:before { content: "\e7a7"; }

.xzliconz-soundlight:before { content: "\e7a8"; }

.xzliconz-cardboardfill:before { content: "\e7a9"; }

.xzliconz-cardboard:before { content: "\e7aa"; }

.xzliconz-formfill:before { content: "\e7ab"; }

.xzliconz-coin:before { content: "\e7ac"; }

.xzliconz-sortlight:before { content: "\e7ad"; }

.xzliconz-circlefill:before { content: "\e7b0"; }

.xzliconz-circle:before { content: "\e7b1"; }

.xzliconz-attentionforbid:before { content: "\e7b2"; }

.xzliconz-attentionforbidfill:before { content: "\e7b3"; }

.xzliconz-attentionfavorfill:before { content: "\e7b4"; }

.xzliconz-attentionfavor:before { content: "\e7b5"; }

.xzliconz-profilelight:before { content: "\e7b6"; }

.xzliconz-piclight:before { content: "\e7b7"; }

.xzliconz-shoplight:before { content: "\e7b8"; }

.xzliconz-voicelight:before { content: "\e7b9"; }

.xzliconz-attentionfavorfill-copy:before { content: "\e7ba"; }

.xzliconz-cameralight:before { content: "\e7bb"; }

.xzliconz-full:before { content: "\e7bc"; }

.xzliconz-mail:before { content: "\e7bd"; }

.xzliconz-peoplelist:before { content: "\e7be"; }

.xzliconz-goodsnewfill:before { content: "\e7bf"; }

.xzliconz-goodsnew:before { content: "\e7c0"; }

.xzliconz-medalfill:before { content: "\e7c1"; }

.xzliconz-medal:before { content: "\e7c2"; }

.xzliconz-newsfill:before { content: "\e7c3"; }

.xzliconz-newshotfill:before { content: "\e7c4"; }

.xzliconz-newshot:before { content: "\e7c5"; }

.xzliconz-news:before { content: "\e7c6"; }

.xzliconz-videofill:before { content: "\e7c7"; }

.xzliconz-video:before { content: "\e7c8"; }

.xzliconz-askfill:before { content: "\e7c9"; }

.xzliconz-ask:before { content: "\e7ca"; }

.xzliconz-exit:before { content: "\e7cb"; }

.xzliconz-skinfill:before { content: "\e7cc"; }

.xzliconz-skin:before { content: "\e7cd"; }

.xzliconz-moneybagfill:before { content: "\e7ce"; }

.xzliconz-usefullfill:before { content: "\e7cf"; }

.xzliconz-usefull:before { content: "\e7d0"; }

.xzliconz-moneybag:before { content: "\e7d1"; }

.xzliconz-redpacket_fill:before { content: "\e7d3"; }

.xzliconz-subscription:before { content: "\e7d4"; }

.xzliconz-jiantouxia:before { content: "\e7d9"; }

.xzliconz-tizhong:before { content: "\e7da"; }

.xzliconz-zaocan:before { content: "\e7db"; }

.xzliconz-wucan:before { content: "\e7dc"; }

.xzliconz-wancan:before { content: "\e7dd"; }

.xzliconz-shengao:before { content: "\e7de"; }
/*loading��ʽ*/
.windows_loadings{ position: fixed;  left:0px; right: 0px; top:0px; bottom:0px; width: 100%; height: 100%; z-index: 9999; display: none;}
.windows_loadings .w_loadings_box{ text-align: center; position: absolute; top:50%;  left: 50%; padding: 15px; background-color: #fff; z-index: 2; border-radius: 15px;}
.windows_loadings .w_loadings_box .w_loading-img{ margin-bottom: 10px;}
.windows_loadings .w_loadings_box .w_loading-text{ margin: 0px; font-size: 14px; color: #666;}
.windows_loadings .w_loading_bg{ position: absolute; left: 0px; right: 0px; top:0px; bottom:0px; background-color: #000; opacity: 0.3; z-index: 1;}
/*��������ʽ*/

.mylosg01 .blue-header{font-size: 16px; background-color: #3cade7; text-align: center; color:#fff;  height: 44px; border-bottom: none; line-height:44px; font-size: 18px;  font-family:Microsoft Yahei; border-top-left-radius:10px; border-top-right-radius:10px; }
.mylosg01 .blue-btn{font-size: 16px; background-color: #3cade7; cursor: pointer; color:#fff; border-radius:100%; width: 40%; float: left; margin:0 5%; height: 40px; border-radius: 20px; text-align: center; line-height: 40px; margin-bottom: 20px;}
.mylosg01 .white-btn{ background:#eee;cursor: pointer; color:#666; font-size: 16px; border-radius:100%; width: 40%; float: left; margin:0 5%; height: 40px; border-radius: 20px; text-align: center; line-height: 40px; margin-bottom: 20px; }
.mylosg01 .nonemarb{padding:20px; font-size: 16px; margin-bottom: 0px;}
.mylosg01 .jquery-msglog-box{ border-radius: 10px;}
.mylosg01 .jquery-msglog-close{  display: block; position: absolute; right: 10px; transition: all 0.3s; top:10px;  width: 24px; height: 24px; border-radius: 12px; line-height: 24px; font-size: 20px; cursor: pointer;}
.mylosg01 .jquery-msglog-close:hover{ color: #059de1; background-color: #fff;}

.mylosg02 .blue-header{font-size: 16px; background-color: #3cade7; text-align: center; color:#fff;  height: 44px; border-bottom: none; line-height:44px; font-size: 18px;  font-family:Microsoft Yahei; border-top-left-radius:10px; border-top-right-radius:10px; }
.mylosg02 .blue-btn{font-size: 16px; background-color: #3cade7; cursor: pointer; color:#fff; border-radius:100%; width: 40%; float: right; margin:0 5%; height: 40px; border-radius: 20px; text-align: center; line-height: 40px; margin-bottom: 20px;}
.mylosg02 .white-btn{ background:#eee;cursor: pointer; color:#666; font-size: 16px; border-radius:100%; width: 40%; float: left; margin:0 5%; height: 40px; border-radius: 20px; text-align: center; line-height: 40px; margin-bottom: 20px; }
.mylosg02 .nonemarb{padding:20px; font-size: 16px; margin-bottom: 0px;}
.mylosg02 .jquery-msglog-box{ border-radius: 10px;}
.mylosg02 .jquery-msglog-close{  display: block; position: absolute; right: 10px; transition: all 0.3s; top:10px;  width: 24px; height: 24px; border-radius: 12px; line-height: 24px; font-size: 20px; cursor: pointer;}
.mylosg02 .jquery-msglog-close:hover{ color: #059de1; background-color: #fff;}

.mylosg04 .jquery-msglog-boxtitle{
	height: 50px;
	line-height: 50px;
	padding: 0px 15px;
	border-bottom: 1px solid #cecece;
	font-size: 14px;
	color: #059de1;
	font-weight: Bold;
	position: Relative;
	background-color: #fff;
}
.mylosg04 .jquery-msglog-close{
	position: absolute;
	font-size: 24px;
	right: 0px;
	width: 50px;
	text-align: center;
	color: #333;
	height: 50px;
	cursor: pointer;
}
.mylosg04 .jquery-msglog-close:hover{
	background-color: #ddd;
}
.mylosg04 .jquery-msglog-boxfoot{
	height: 50px;
	text-align: right;
	padding-top: 7px;
	box-sizing: border-box;
	background-color: #f0f0f0;
}
.mylosg04 .msglog_gary_btn{
	display: inline-block;
	padding: 0px 40px;
	height: 36px;
	line-height: 36px;
	background-color: #ddd;
	margin-right: 7px;
	border-radius: 5px;
	cursor: pointer;
}
.mylosg04 .jquery-msglog-boxbody{
	background-color: #fff;
	padding: 15px;
}
.mylosg04 .msglog_blue_btn{
	display: inline-block;
	padding: 0px 40px;
	height: 36px;
	line-height: 36px;
	background-color: #059de1;
	color: #fff;
	border-radius: 5px;
	margin-right: 7px;
	cursor: pointer;
}
.mylosg04 .jquery-msglog-box{
	background-color: #fff;
}
/*2017-2-17 医生签约会员弹出层验证手机号的样式*/
#tckid{ background-color: #ffffff; }
#tckid ul, #tckid .tck-li{ list-style: none; }
#tckid ul{
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f7f8f9;
    margin-bottom: 15px;
}
#tckid .tck-tipstext{ padding: 10px 0px; margin-bottom: 10px;}
#tckid .tck-li{ padding-top: 10px; padding-bottom: 10px; font-size: 14px;}

#tckid .tck-li label{ width: 90px; display:block; float:left;  text-align: right; color:#666; }
#tckid .tck-li font{ display: block; padding-left: 100px; font-weight: bold; color:#333;}

#tckid .clearfix{ clear: both;}
#tckid .clearfix:after{ clear: both; content: ''; display: block;}
#tckid .tck-form-line{ margin-bottom: 15px; position: relative;}
#tckid .tck-form-line .tck-form-label{ height: 40px; line-height: 40px; text-align: right; width:100px; float: left;}
#tckid .tck-form-line .tck-form-input{ display: block; padding-left: 110px;}
#tckid .tck-form-line .tck-form-input input{ width: 100%; height: 40px;  border: 1px solid #d2d2d2; border-radius: 5px; padding: 10px 10px; box-sizing: border-box; outline: none;}
#tckid .tck-form-line .tck-form-input input:focus{ border: 1px solid #3baee7; box-shadow: 0px 0px 10px rgba(59,174,231,0.3);}
#tckid .tck-form-line.error .tck-form-input input{ border: 1px solid #fe5a59; }
#tckid .tck-form-line.error .tck-form-input input:focus{ border: 1px solid #fe5a59; box-shadow: 0px 0px 10px rgba(254,90,89,0.3);}
#tckid .tck-form-line.tck-has-right{ padding-right: 130px;}
#tckid .tck-form-line .tck-form-right{ width: 120px; position: absolute; top:0px; right: 0px; bottom:0px; height: 40px; overflow: hidden;}
#tckid .tck-form-line .tck-form-right img{ width: 100%; height: 100%;}
#tckid .tck-btn-blue{ display: block; width: 100%; height: 40px; background-color: #3baee7; color: #fff; border-radius: 5px; line-height:40px; text-align: center; text-decoration: none;}
#tckid .errorinfo{ color:#fe5a59; padding: 10px 0px;  padding-left: 110px; font-size: 14px; display:none;}
#tckid .errorinfo i{ vertical-align: middle; margin-top: -3px; *margin-top:0px;}
#tckid .error .errorinfo{ display: block;}
@media screen and (max-width:500px){
	#tckid .tck-form-line .tck-form-label{ display: none;}
	#tckid .tck-form-line .tck-form-input{ padding-left: 0px;}
	#tckid .tck-form-line .tck-form-right{ width: 100px;}
	#tckid .tck-form-line.tck-has-right{ padding-right: 110px;}
	#tckid .tck-tipstext{ font-size: 14px; color: #333;}
	#tckid .errorinfo{ padding-left: 0px;}
}
/*2017-2-17 医生签约会员弹出层验证手机号的样式*/
.tckid{ background-color: #ffffff; }
.tckid ul, #tckid .tck-li{ list-style: none; }
.tckid ul{
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f7f8f9;
    margin-bottom: 15px;
}
.tckid .tck-tipstext{ padding: 10px 0px; margin-bottom: 10px;}
.tckid .tck-li{ padding-top: 10px; padding-bottom: 10px; font-size: 14px;}

.tckid .tck-li label{ width: 90px; display:block; float:left;  text-align: right; color:#666; }
.tckid .tck-li font{ display: block; padding-left: 100px; font-weight: bold; color:#333;}

.tckid .clearfix{ clear: both;}
.tckid .clearfix:after{ clear: both; content: ''; display: block;}
.tckid .tck-form-line{ margin-bottom: 15px; position: relative;}
.tckid .tck-form-line .tck-form-label{ height: 40px; line-height: 40px; text-align: right; width:100px; float: left;}
.tckid .tck-form-line .tck-form-input{ display: block; padding-left: 110px;}
.tckid .tck-form-line .tck-form-input input{ width: 100%; height: 40px;  border: 1px solid #d2d2d2; border-radius: 5px; padding: 10px 10px; box-sizing: border-box; outline: none;}
.tckid .tck-form-line .tck-form-input input:focus{ border: 1px solid #3baee7; box-shadow: 0px 0px 10px rgba(59,174,231,0.3);}
.tckid .tck-form-line.error .tck-form-input input{ border: 1px solid #fe5a59; }
.tckid .tck-form-line.error .tck-form-input input:focus{ border: 1px solid #fe5a59; box-shadow: 0px 0px 10px rgba(254,90,89,0.3);}
.tckid .tck-form-line.tck-has-right{ padding-right: 130px;}
.tckid .tck-form-line .tck-form-right{ width: 120px; position: absolute; top:0px; right: 0px; bottom:0px; height: 40px; overflow: hidden;}
.tckid .tck-form-line .tck-form-right img{ width: 100%; height: 100%;}
.tckid .tck-btn-blue{ display: block; width: 100%; height: 40px; background-color: #3baee7; color: #fff; border-radius: 5px; line-height:40px; text-align: center; text-decoration: none;}
.tckid .errorinfo{ color:#fe5a59; padding: 10px 0px;  padding-left: 110px; font-size: 14px; display:none;}
.tckid .errorinfo i{ vertical-align: middle; margin-top: -3px; *margin-top:0px;}
.tckid .error .errorinfo{ display: block;}
@media screen and (max-width:500px){
	.tckid .tck-form-line .tck-form-label{ display: none;}
	.tckid .tck-form-line .tck-form-input{ padding-left: 0px;}
	.tckid .tck-form-line .tck-form-right{ width: 100px;}
	.tckid .tck-form-line.tck-has-right{ padding-right: 110px;}
	.tckid .tck-tipstext{ font-size: 14px; color: #333;}
	.tckid .errorinfo{ padding-left: 0px;}
}